{{ define "main" }}

{{- partial "header.html" . -}}

<div class="scrub min-h-7/10-screen flex flex-col">
    <div class="w-full flex-1 flex">
        <div class="grow">
            <div class="bg-gray-100/50 shadow-2xl rounded-2xl">
                左边
            </div>
        </div>
        <div class="shrink max-w-main w-full">
            <div class="bg-gray-100/50 shadow-2xl rounded-2xl">
                <div class="p-4 text-center">
                    <h1>{{ .Title }}</h1>
                    <div class="flex flex-wrap">
                        <p class="grow">🗓️ {{ .Date.Format "2006-01-02" }}</p>
                        <p class="grow">♻️ {{ .Lastmod.Format "2006-01-02" }}</p>
                        <p class="grow">🕒 {{ .ReadingTime }} mins</p>
                        <p class="grow">📖 {{ .WordCount }} words</p>
                    </div>
                    <div class="flex flex-wrap">
                        <p class="flex-none">←
                            <a href="{{ with .Prev }}{{ .Permalink | safeURL  }}{{ end }}">
                                {{ with .Prev }}{{ .Title }}{{ end }}
                            </a>
                        </p>
                        <p class="grow">
                            <a href="#">/aaa</a>
                            <a href="#">/bbb</a>
                            <a href="#">/ccc</a>
                        </p>
                        <p class="flex-none">
                            <a href="{{ with .Next }}{{ .Permalink | safeURL  }}{{ end }}">
                                {{ with .Next }}{{ .Title }}{{ end }}
                            </a>→
                        </p>
                    </div>
                </div>
                <hr/>
                <div>
                    <div class="p-4">
                        {{ .TableOfContents }}
                    </div>
                    <hr/>
                </div>
                <div id="content" class="p-4">
                    {{.Content}}
                </div>
            </div>
        </div>
        <div class="grow">
            <div class="bg-gray-100/50 shadow-2xl rounded-2xl">
                右边
            </div>
        </div>
    </div>

    {{- partial "footer.html" . -}}
</div>

{{ end }}