# build
repository
public
public-back
staticFileData.json
http.log
static/images/avatar.jpg
static/images/favicon.ico

# dependencies
node_modules
package-lock.json

# Nuxt build
.nuxt

# Nuxt generate
dist

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
