@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .img-auto {
        @apply w-full;
        @apply h-full;
        @apply bg-no-repeat;
        @apply bg-cover;
        @apply bg-center;
        @apply bg-scroll;
    }

    .img-back {
        @apply img-auto;
        @apply h-screen;
        @apply fixed;
        @apply bg-fixed;
        @apply top-0;
        @apply -z-10;
    }

    .scrub {
        @apply w-full;
        @apply backdrop-blur;
    }

    .fence {
        @apply w-full;
        @apply bg-repeat;
        @apply bg-auto;
        @apply bg-fixed;
    }

    .div-center {
        @apply relative;
        @apply top-1/2;
        @apply left-1/2;
        transform: translate(-50%, -50%);
    }

    h1 {
        @apply text-4xl;
        @apply my-2;
    }

    h2 {
        @apply text-3xl;
        @apply my-2;
    }

    h3 {
        @apply text-2xl;
        @apply my-2;
    }

    h4 {
        @apply text-xl;
        @apply my-2;
    }

    h5 {
        @apply text-lg;
        @apply my-2;
    }

    h6 {
        @apply text-base;
        @apply my-2;
    }

    p {
        @apply my-2;
        @apply break-words;
        @apply break-all;
    }

    li {
        @apply my-1;
    }

    ul {
        @apply list-disc;
        @apply list-inside;
    }

    li > ul {
        @apply list-disc;
        @apply list-inside;
        @apply ml-5;
    }

    ol {
        @apply list-decimal;
        @apply list-inside;
    }

    li > ol {
        @apply list-decimal;
        @apply list-inside;
        @apply ml-5;
    }

    table {
        @apply table-auto;
        @apply border-collapse;
        @apply border-hidden;
        @apply w-full;
    }

    td {
        @apply hover:bg-gray-100/50;
        @apply p-1;
        @apply border-dashed;
        @apply border;
    }

    th {
        @apply p-1;
        @apply border-dashed;
        @apply border;
    }

    thead {
        @apply sticky;
        @apply top-0;
    }

    thead tr {
        @apply bg-gray-100/80;
    }

    tbody tr {
        @apply hover:bg-gray-100/50;
    }

    blockquote {
        @apply border-l-2;
        @apply border-l-2;
        @apply pl-2;
    }

    p > code {
        @apply bg-gray-900/80;
        @apply text-red-500;
        @apply px-1;
        @apply py-1;
        @apply mx-2;
        @apply rounded;
        @apply select-all;
    }

    pre {
        @apply pl-2;
        @apply py-2;
    }

    p > a {
        @apply text-blue-700;
        @apply hover:underline;
        @apply break-words;
        @apply break-all;
    }
}


.fancybox__container {
    --fancybox-bg: rgba(0, 0, 0, 0.5) !important;
}

.highlight {
    margin-top: 0.5rem; /* 8px */
    margin-bottom: 0.5rem; /* 8px */
}

::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

::-webkit-scrollbar-track {
    background: #f8fafc;
}

::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}