@charset "utf-8";

body {
    background-image: url("/images/wave1.png"),
    url("/images/wave2.png"),
    url("/images/blurry.png"),
    url("https://i.loli.net/2019/07/20/5d31ed25dde6a52295.jpg");
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-position: 0vw 92vh, -27vw 91vh, 0% 0%, center;
    background-attachment: fixed, fixed, fixed, fixed;
    background-size: 104vw 8vh, 127vw 9vh, auto, cover;
}

/*整个网站黑白灰*/
/* body {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray;
} */

body {
    cursor: url("/images/huaji-mouse.png"), auto;
}

a {
    cursor: url("/images/angry-mouse.png"), auto;
}

img {
    max-width: 100%;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid;
}

blockquote {
    border-left: 0.3em solid rgba(255, 255, 255, 1);
    padding-left: 0.5em;
}

/*表格样式来源*/
/*https://blog.xiaomo.info/2016/MarkdownTableStyle/*/
/*http://moxfive.xyz/2016/03/04/markdown-table-style/*/

table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 15px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
}

table th,
table td {
    height: 35px; /*统一每一行的默认高度*/
    border: 1px solid #dedede; /*内部边框样式*/
    padding: 0 10px; /*内边距*/
}

table th {
    font-weight: bold; /*加粗*/
    text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
    background: rgba(158, 188, 226, 0.2); /*背景色*/
}

table tr:hover {
    background: #efefef;
}

table th {
    white-space: nowrap; /*表头内容强制在一行显示*/
}

table td:nth-child(1) {
    white-space: nowrap;
}

.table-area {
    overflow: auto;
}
