{{ define "main" }}

<div id="img-back" class="img-back" style="background-image: none"></div>

{{ $fence := resources.Get "img/fence.svg" }}
<div class="w-full absolute top-0">
    <div class="fence-board" style="background-image: url('{{ $fence.Permalink }}')"/>
</div>
<div class="w-full absolute top-1/2-screen">
    <div class="fence-board min-h-1/2-screen" style="background-image: url('{{ $fence.Permalink }}')">
        <div class="h-full flex">
            <div class="h-full grow"></div>
            <div id="content" class="h-full shrink w-main">
                <div class="div-center w-full h-1/3">
                    <div class="h-full overflow-y-auto scrollbar-thin scrollbar-thumb-gray-100/50 hover:scrollbar-thumb-gray-100/80">
                        <div class="px-2 text-center text-gray-100 [text-shadow:_0.1rem_0.1rem_0.2rem_var(--tw-shadow-color)] shadow-gray-900"
                             id="board"></div>
                        <div style="display: none" class="display-board">{{ .Content }}</div>
                        <script>
                            $(document).ready(function () {
                                let htmls = $(".display-board").html().split("\n")
                                let boards = {}
                                let imgs = []
                                let img = ""
                                for (let i = 0; i < htmls.length; i++) {
                                    if (htmls[i].includes("<img")) {
                                        img = htmls[i]
                                        imgs.push(img)
                                        boards[img] = []
                                    } else if (img !== "") {
                                        boards[img].push(htmls[i])
                                    }
                                }

                                let hit = new Date().getTime() % imgs.length
                                img = imgs[hit]
                                let board = ""
                                if (boards[img] != null && boards[img] !== undefined) {
                                    board = boards[img].join("")
                                }
                                img = $(img).find("img").attr("src")

                                if (img !== "" && img !== null && img !== undefined) {
                                    $("#img-back").css({"background-image": "url('" + img + "')"})
                                }
                                if (board !== "" && board !== null && board !== undefined) {
                                    $("#board").html(board)
                                }
                            })
                        </script>
                    </div>
                </div>
            </div>
            <div class="h-full grow"></div>
        </div>
    </div>
</div>

{{ end }}