{{ define "main" }}

{{ $fence := resources.Get "img/fence.svg" }}
<div class="w-full absolute top-1/2-screen">
    <div class="fence object-center h-1/2-screen min-h-1/2-screen" style="background-image: url('{{ $fence.Permalink }}')">
        <div class="h-full flex">
            <div class="h-full grow"></div>
            <div class="h-full shrink w-main">
                <div class="div-center h-1/3 w-full">
                    <div class="px-2 text-center text-gray-100 [text-shadow:_0.1rem_0.1rem_0.2rem_var(--tw-shadow-color)] shadow-gray-900 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-100/50 h-full">
                        <p class="text-4xl">初羽的魔法日记</p>
                        <p>
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                            🌸这是一个记录有关技术的魔法日记🔮
                        </p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                        <p>🌸这是一个记录有关技术的魔法日记🔮</p>
                    </div>
                </div>
            </div>
            <div class="h-full grow"></div>
        </div>
    </div>
</div>

{{ end }}