{{ define "main" }}

{{ $content := os.ReadFile "_index.md" }}
{{ $lines := split $content "\n" }}
{{ $contents := newScratch }}
{{ $image := "" }}
{{ $images := slice }}
{{ range $lines }}
    {{ if strings.Contains . "![" }}
        {{ $texts := split . "](" }}
        {{ $texts_len := $texts | len }}
        {{ if gt $texts_len 1 }}
            {{ $texts_len = sub $texts_len 1 }}
            {{ $img := index $texts $texts_len }}
            {{ $texts = split $img ")" }}
            {{ $texts_len = $texts | len }}
            {{if gt $texts_len 0 }}
                {{ $image = index $texts 0 }}
                {{ $images = $images | append $image }}
            {{end}}
        {{end}}
    {{ else if ne $image "" }}
        {{ $contents.Add $image "\n" }}
        {{ $contents.Add $image . }}
    {{end}}
{{ end }}
{{ $images_len := $images | len }}
{{ if gt $images_len 0 }}
    {{ $image = index $images 0 }}
{{ end }}

<div id="img-back" class="img-back" style="background-image: url('{{ $image }}')"></div>

{{ $fence := resources.Get "img/fence.svg" }}
<div class="w-full absolute top-0">
    <div class="fence-board" style="background-image: url('{{ $fence.Permalink }}')"/>
</div>
<div id="content">
    <div class="w-full absolute top-1/2-screen">
        <div class="fence-board min-h-1/2-screen" style="background-image: url('{{ $fence.Permalink }}')">
            <div class="h-full flex">
                <div class="h-full grow"></div>
                <div class="h-full shrink w-main">
                    <div class="div-center w-full h-1/3">
                        <div class="h-full overflow-y-auto scrollbar-thin scrollbar-thumb-gray-100/50 hover:scrollbar-thumb-gray-100/80">
                            <div class="px-2 text-center text-gray-100 [text-shadow:_0.1rem_0.1rem_0.2rem_var(--tw-shadow-color)] shadow-gray-900">
                                {{ $markdown := $contents.Get $image }}
                                {{ $markdown | markdownify }}
                            </div>
                            <div>
                                {{ range $images }}
                                    {{ $markdown := $contents.Get . }}
                                    {{ $html := $markdown | markdownify }}
                                    <input type="hidden" name="index-fence-board" value="{{ htmlEscape $html }}"/>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-full grow"></div>
            </div>
        </div>
    </div>
</div>


{{ end }}