<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <script src="https://cdn.jsdelivr.net/npm/jq@1.7.2/dist/jquery.min.js"></script>

    <meta name="img_base_url" content="{{ .Site.Params.img_base_url }}"/>
    <script>
        $(document).ready(function () {
            let domain = $("meta[name='img_base_url']").attr("content")
            domain = domain.replace(/^\s+|\s+$/g, "")
            if (domain !== undefined && domain !== null && domain !== "") {
                $("img").each(
                    function () {
                        let img = $(this).attr("src")
                        if (img.startsWith("http") || img.startsWith("//")) {
                            return
                        }
                        img = img.replace(/^\s+|\s+$/g, '')
                        img = domain + "/" + img
                        $(this).attr("src", img)
                    }
                )
            }
        })
    </script>

    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css"
          integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js"
            integrity="sha384-Qsn9KnoKISj6dI8g7p1HBlNpVx0I8p1SvlwOldgi3IorMle61nQy4zEahWYtljaz"
            crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js"
            integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
            crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                delimiters: [
                    { left: '$$', right: '$$', display: true },
                    { left: '$', right: '$', display: false },
                    { left: '\\(', right: '\\)', display: false },
                    { left: '\\[', right: '\\]', display: true }
                ],
                // • rendering keys, e.g.:
                throwOnError: false
            });
        });
    </script>
</head>