<div class="bg-gray-100/50 shadow-2xl rounded-2xl w-full flex mt-4 min-h-[5vh]">
    <div class="grow"></div>
    <div class="shrink max-w-main w-full">
        <div class="p-4">
            <div id="footer-div"></div>
        </div>
        <script>
            $(document).ready(function () {
                let list = []

                let start = false
                $("#board-display").children().each(function () {
                    let html = $(this).prop("outerHTML")
                    if (html.includes("<h1") && html.includes("footer")) {
                        start = true
                        return
                    }
                    if (start && html.includes("<h1")) {
                        start = false
                        return
                    }
                    if (!start) {
                        return
                    }
                    if (html.includes("$build_date")) {
                        let build_date = $("meta[name='build_date']")
                        if (build_date !== undefined && build_date !== null) {
                            build_date = build_date.attr('content')
                        }
                        html = html.replace("$build_date", build_date)
                    }
                    list.push(html)
                })

                $("#footer-div").html(list.join(""))
            })
        </script>
    </div>
    <div class="grow"></div>
</div>