@charset "utf-8";

/*整个网站黑白灰*/
/*#__nuxt, div.backstretch {
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}*/

/*背景图片磨砂*/
#__nuxt {
    background-image: url("/images/blurry.png");
    background-repeat: repeat;
    background-position: 0% 0%;
    background-attachment: fixed;
    background-size: auto;
    height: 100vh;
    width: 100vw;
}

/*图片大图的背景蒙版半透明*/
div.zoom-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}

/*让链接文字换行*/
* {
    word-wrap: break-word;
}

img {
    max-width: 100%;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid;
}

blockquote {
    border-left: 0.3em solid rgba(84, 155, 196, 0.3);
    padding-left: 0.5em;
}

thead {
    background: rgba(84, 155, 196, 0.2);
    white-space: nowrap;
}

.hljs ol {
    margin-bottom: 0em;
}

.hljs ol li {
    border-left: 0.1em solid #ddd !important;
    padding-left: 0.3em;
}
