@charset "utf-8";

body {
  /*background-image: url(https://i.loli.net/2018/08/21/5b7bb5dd4f0df.png);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*pre code {*/
  /*background-color: rgba(255, 255, 255, 0.7);*/
  /*border: 0.5em solid rgba(255, 255, 255, 1);*/
  /*border-radius: 0.5em;*/
  /*display: block !important;*/
  /*padding: 0.5em;*/
/*}*/

/*code {*/
  /*background-color: rgba(255, 255, 255, 0.7);*/
  /*border: 1px solid rgba(255, 255, 255, 0.7);*/
  /*border-radius: 3px;*/

/*}*/

img {
  max-width: 100%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 0.5em solid
}

blockquote {
  border-left: 0.3em solid rgba(255, 255, 255, 1);
  padding-left: 0.5em;
}

/*头颜色*/
table tr th {
  background-color: rgba(255, 255, 255, 0.7);
}

/*空格*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
  *border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/*各自颜色*/
tr {
  background-color: rgba(255, 255, 255, 0.6);
}

/*布局与列条*/
th, td {
  padding: 0.5em 1em;
  border: 0.1em solid #ddd;
}

/*行亮*/
table tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

